<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" verbose="2">

    <test name="Validating Get a Demo">

        <classes>
            <class name="web_automation.seclore.tests.TC01_GetADemo"/>
            <class name="web_automation.seclore.tests.TC02_Login"/>
            <class name="web_automation.seclore.tests.TC03_Register"/>

        </classes>
    </test>

</suite> <!-- Suite -->



