<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" verbose="2">

    <test name="Onboarding for SOB Verification flow">
        <parameter name="deviceIndex" value="0"/>
        <classes>
            <class name="api_automation.SmsApi"/>



        </classes>
    </test>

</suite> <!-- Suite -->



